<robot
  name="blue_link" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <joint name="base_blue" type="fixed">
      <origin xyz="0 0 0"
              rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="blue_link" />
  </joint>

  <link
    name="blue_link">
    <inertial>
      <origin
        xyz="1.87517876358856E-12 0.244596018320182 -5.29802502868681E-12"
        rpy="0 0 0" />
      <mass
        value="0.00614203048960148" />
      <inertia
        ixx="0.000628353850346895"
        ixy="-4.49807069319517E-16"
        ixz="-2.59912167737936E-05"
        iyy="0.000689779328105308"
        iyz="1.08572271039449E-14"
        izz="6.33870732283266E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hansbase_description/urdf/agv/blue_link/meshes/blue_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0 0.0 0.8 1.0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hansbase_description/urdf/agv/blue_link/meshes/blue_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
