<robot
  name="kinect_link" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <joint name="base_kinect" type="fixed">
      <origin xyz="0 0 0"
              rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="kinect_link" />
  </joint>
  <link
    name="kinect_link">
    <inertial>
      <origin
        xyz="-0.287735955932466 -0.148960793762788 -0.00011035394127862"
        rpy="0 0 0" />
      <mass
        value="0.576483561432384" />
      <inertia
        ixx="0.00307978557153169"
        ixy="6.12921549674246E-08"
        ixz="1.69470260913366E-06"
        iyy="0.00318938860298848"
        iyz="2.49624002775576E-09"
        izz="0.000247199065167597" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hansbase_description/urdf/agv/kinect_link/meshes/kinect_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hansbase_description/urdf/agv/kinect_link/meshes/kinect_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
